@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

#color-toggle-btn {
    width: 0;
    height: 0;
    display: none;
}

.modal-dialog .modal-content {
    border-radius: 0.75rem;
    background: #020e1b;
    color: white;
}

.modal-dialog .modal-content .modal-header {
    border-bottom: none;
}

.md-form label {
    top: -2.4rem;
    bottom: 2.4rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75) !important;
}

* {
    font-family: 'Roboto', 'Segoe UI Variable Text', 'Segoe UI', 'SOIGNE + vivo Sans SC VF', 'vivo Sans SC VF', 'HarmonyOSHans', 'PingFang SC','Noto Sans SC', 'Microsoft YaHei UI', sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "slnt" 0,
            "wdth" 100,
            "GRAD" 0,
            "XOPQ" 96,
            "XTRA" 468,
            "YOPQ" 79,
            "YTAS" 750,
            "YTDE" -203,
            "YTFI" 738,
            "YTLC" 514,
            "YTUC" 712;
}

[data-user-color-scheme="dark"] {
    --text-color: white;
    --subtitle-color: white;
    --body-bg-color: #020e1b;
    --board-bg-color: #020e1b;
    --navbar-bg-color: #020e1b;
    --navbar-text-color: white;
}

:root {
    --navbar-bg-color: #020e1b;
}

nav#navbar {
    backdrop-filter: blur(20px);
}

span#subtitle, .typed-cursor.typed-cursor--blink {
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

#local-search-input {
    color: white !important;
}

.search-list-title {
    color: whitesmoke !important;
}