@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

* {
    font-family: 'Roboto', 'Segoe UI Variable Text', 'Segoe UI', 'HarmonyOSHans', 'PingFang SC','Noto Sans SC', 'Microsoft YaHei UI', sans-serif;
}

[data-user-color-scheme="dark"] {
    --text-color: white;
    --subtitle-color: white;
    --body-bg-color: #24292f;
    --board-bg-color: rgb(35, 40, 45);
    --navbar-bg-color: #24292f;
    --navbar-text-color: white;
}

:root {
    --navbar-bg-color: #24292f;
}

nav#navbar {
    backdrop-filter: blur(20px);
}

span#subtitle, .typed-cursor.typed-cursor--blink {
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

